extends layout

block content
  .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
    h5.my-0.mr-md-auto.font-weight-normal Standups
    if user
      .dropdown
        button(class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= user.email
        div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
          a(class="dropdown-item" href="/logout") Salir
  